<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="logs/internal-nlog.txt">
  <!--define various log targets-->
  <targets>
    <!--write logs to file-->
    <target
      xsi:type="File"
      name="allfile"
      fileName="logs/${shortdate}/all.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" />

    <!--写入文件-->
    <target
     xsi:type="File"
     name="DebugFile"
     fileName="Logs\${shortdate}\debug.log"
     layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}">
    </target>
    <target
      xsi:type="File"
      name="InfoFile"
      fileName="Logs\${shortdate}\info.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}">
    </target>
    <target
      xsi:type="File"
      name="ErrorFile"
      fileName="Logs\${shortdate}\error.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}">
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="*" minlevel="Debug" maxLevel="Debug" writeTo="DebugFile" />
    <logger name="*" minlevel="Info" maxLevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" maxLevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>